<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <section class="download py-5">
        <h2 class="text-center mb-4">Reporte Generado</h2>
        <div class="d-flex justify-content-center">
          <a href="/reportes/<%- data['reportId'] %>/reporte.pdf" target="_blank" class="btn btn-primary me-2">Descargar</a>
          <!-- <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#enviar-mail" aria-expanded="true" aria-controls="enviar-mail">Enviar mail</button> -->
        </div>
        <!-- <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="accordion-collapse collapse" aria-labelledby="enviar-mail" data-bs-parent="#enviar-mail" id="enviar-mail">
              <form method="POST" class="py-3" action="/mail">
                <input type="hidden" name="filename" value="<%- data['filename'] %>">
                <label for="mail" class="form-label">Mail del cliente</label>
                <input type="email" class="form-control mb-3" id="mail" name="mail" required>
                <label for="asunto" class="form-label">Asunto (opcional)</label>
                <input type="text" class="form-control mb-3" id="asunto" name="asunto">
                <label for="cuerpo" class="form-label">Cuerpo (opcional)</label>
                <textarea name="cuerpo" cols="30" rows="4" class="form-control mb-3"></textarea>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>