<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navbar', {isAdmin: data['isAdmin']}) %>

    <section class="forms py-4 py-lg-5">
      <div class="container-xl">
        <form
          id="form-principal"
          action="/report"
          method="post"
          class="row g-3"
          enctype="multipart/form-data"
        >
          <div class="col-12">
            <h3>DATOS DEL CLIENTE</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="poblacion" class="form-label">Población</label>
            <input
              type="text"
              class="form-control"
              id="poblacion"
              name="poblacion"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="telefono" class="form-label">Teléfono</label>
            <input
              type="text"
              class="form-control"
              id="telefono"
              name="telefono"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="pais" class="form-label">País</label>
            <input type="text" class="form-control" id="pais" name="pais" />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" />
          </div>

          <div class="col-12">
            <h3>DATOS DEL VEHÍCULO</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="matricula" class="form-label">Matrícula</label>
            <input
              type="text"
              class="form-control"
              id="matricula"
              name="matricula"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca" />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="modelo" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="modelo" name="modelo" />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="anio-modelo" class="form-label">Año Modelo</label>
            <input
              type="text"
              class="form-control"
              id="anio-modelo"
              name="anio-modelo"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="bastidor" class="form-label">Bastidor</label>
            <input
              type="text"
              class="form-control"
              id="bastidor"
              name="bastidor"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="color" class="form-label">Color</label>
            <input type="text" class="form-control" id="color" name="color" />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="mod-tec" class="form-label">Mod. Tec.</label>
            <input
              type="text"
              class="form-control"
              id="mod-tec"
              name="mod-tec"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="c-motor" class="form-label">C. Motor.</label>
            <input
              type="text"
              class="form-control"
              id="c-motor"
              name="c-motor"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="fecha-1-mat" class="form-label">Fecha 1° mat.</label>
            <input
              type="text"
              class="form-control"
              id="fecha-1-mat"
              name="fecha-1-mat"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="fecha-fin-garantia" class="form-label"
              >Fecha fin de garantía</label
            >
            <input
              type="text"
              class="form-control"
              id="fecha-fin-garantia"
              name="fecha-fin-garantia"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="inspeccion-tecnica" class="form-label"
              >Inspección Técnica</label
            >
            <input
              type="text"
              class="form-control"
              id="inspeccion-tecnica"
              name="inspeccion-tecnica"
            />
          </div>

          <div class="col-12">
            <h3>ACTUACIONES</h3>
          </div>

          <div class="col-12">
            <textarea
              class="form-control"
              id="actuaciones"
              name="actuaciones"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>RESULTADO PRUEBA DINÁMICA</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="comportamiento-del-cambio" class="form-label"
              >Comportamiento del cambio</label
            >
            <select
              class="form-control"
              id="comportamiento-del-cambio"
              name="comportamiento-del-cambio"
            >
              <option class="empty-option" selected value></option>
              <option value="Correcto">Correcto</option>
              <option value="Dureza/ruido/rascado">Dureza/ruido/rascado</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-del-embrague" class="form-label"
              >Estado del embrague</label
            >
            <select
              class="form-control"
              id="estado-del-embrague"
              name="estado-del-embrague"
            >
              <option class="empty-option" selected value></option>
              <option value="Correcto">Correcto</option>
              <option value="Patina/ruido">Patina/ruido</option>
            </select>
          </div>

          <div class="col-12">
            <h3>INTERIOR</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="interior" class="form-label">interior</label
            ><select name="interior" id="interior" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="hora-y-fecha" class="form-label">hora y fecha</label
            ><select name="hora-y-fecha" id="hora-y-fecha" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luces-interior" class="form-label">luces interior</label
            ><select
              name="luces-interior"
              id="luces-interior"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="testigos-averia" class="form-label"
              >testigos avería</label
            ><select
              name="testigos-averia"
              id="testigos-averia"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="climatizacion" class="form-label">climatización</label
            ><select
              name="climatizacion"
              id="climatizacion"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-elevalunas-d-d" class="form-label"
              >estado elevalunas d/d</label
            ><select
              name="estado-elevalunas-d-d"
              id="estado-elevalunas-d-d"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-elevalunas-d-izq" class="form-label"
              >estado elevalunas d/izq</label
            ><select
              name="estado-elevalunas-d-izq"
              id="estado-elevalunas-d-izq"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-elevalunas-t-d" class="form-label"
              >estado elevalunas t/d</label
            ><select
              name="estado-elevalunas-t-d"
              id="estado-elevalunas-t-d"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-elevalunas-trasero-izquierdo" class="form-label"
              >estado elevalunas trasero izquierdo</label
            ><select
              name="estado-elevalunas-trasero-izquierdo"
              id="estado-elevalunas-trasero-izquierdo"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="radio" class="form-label">radio</label
            ><select name="radio" id="radio" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-cerraduras" class="form-label"
              >estado cerraduras</label
            ><select
              name="estado-cerraduras"
              id="estado-cerraduras"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-cinturones-seguridad" class="form-label"
              >estado cinturones seguridad</label
            ><select
              name="estado-cinturones-seguridad"
              id="estado-cinturones-seguridad"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="guarnecidos" class="form-label">guarnecidos</label
            ><select name="guarnecidos" id="guarnecidos" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="parasol-y-retrovisor-interior" class="form-label"
              >parasol y retrovisor interior</label
            ><select
              name="parasol-y-retrovisor-interior"
              id="parasol-y-retrovisor-interior"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="botoneras" class="form-label">botoneras</label
            ><select name="botoneras" id="botoneras" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="cenicero-central" class="form-label"
              >cenicero central</label
            ><select
              name="cenicero-central"
              id="cenicero-central"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="encendedor" class="form-label">encendedor</label
            ><select name="encendedor" id="encendedor" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="velocimetro" class="form-label">velocímetro</label
            ><select name="velocimetro" id="velocimetro" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="cuentarrevoluciones" class="form-label"
              >cuentarrevoluciones</label
            ><select
              name="cuentarrevoluciones"
              id="cuentarrevoluciones"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="cierre-centralizado" class="form-label"
              >cierre centralizado</label
            ><select
              name="cierre-centralizado"
              id="cierre-centralizado"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="asientos-y-tapizados" class="form-label"
              >asientos y tapizados</label
            ><select
              name="asientos-y-tapizados"
              id="asientos-y-tapizados"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="retrovisor-interior" class="form-label"
              >retrovisor interior</label
            ><select
              name="retrovisor-interior"
              id="retrovisor-interior"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="claxon" class="form-label">claxon</label
            ><select name="claxon" id="claxon" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="calefaccion" class="form-label">calefacción</label
            ><select name="calefaccion" id="calefaccion" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="aire-acondicionado" class="form-label"
              >aire acondicionado</label
            ><select
              name="aire-acondicionado"
              id="aire-acondicionado"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="gps" class="form-label">gps</label
            ><select name="gps" id="gps" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="interior-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="interior-valoracion"
              name="interior-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>diagnosis</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="diagnosis-general" class="form-label"
              >diagnosis general</label
            ><select
              name="diagnosis-general"
              id="diagnosis-general"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <h3>zona exterior delantera</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="danios-carroceria" class="form-label"
              >daños carrocería</label
            ><select
              name="danios-carroceria"
              id="danios-carroceria"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-posicion-delantera" class="form-label"
              >luz posición</label
            ><select
              name="luz-posicion-delantera"
              id="luz-posicion-delantera"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-corta" class="form-label">luz corta</label
            ><select name="luz-corta" id="luz-corta" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-larga" class="form-label">luz larga</label
            ><select name="luz-larga" id="luz-larga" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-intermitentes-delantera" class="form-label"
              >luz intermitentes</label
            ><select
              name="luz-intermitentes-delantera"
              id="luz-intermitentes-delantera"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-nieblas" class="form-label">luz nieblas</label
            ><select name="luz-nieblas" id="luz-nieblas" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="sistema-lavado-faros" class="form-label"
              >sistema lavado faros</label
            ><select
              name="sistema-lavado-faros"
              id="sistema-lavado-faros"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="limpiaparabrisas-delanteros" class="form-label"
              >limpiaparabrisas delanteros</label
            ><select
              name="limpiaparabrisas-delanteros"
              id="limpiaparabrisas-delanteros"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="exterior-delantera-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="exterior-delantera-valoracion"
              name="exterior-delantera-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>zona exterior trasera</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="danios-exterior-trasero" class="form-label"
              >daños exterior trasero</label
            ><select
              name="danios-exterior-trasero"
              id="danios-exterior-trasero"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-freno" class="form-label">luz freno</label
            ><select name="luz-freno" id="luz-freno" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-intermitentes-trasera" class="form-label"
              >luz intermitentes</label
            ><select
              name="luz-intermitentes-trasera"
              id="luz-intermitentes-trasera"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-posicion-trasera" class="form-label"
              >luz posicion</label
            ><select
              name="luz-posicion-trasera"
              id="luz-posicion-trasera"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-marcha-atras" class="form-label"
              >luz marcha atrás</label
            ><select
              name="luz-marcha-atras"
              id="luz-marcha-atras"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luz-niebla-trasero" class="form-label"
              >luz niebla trasero</label
            ><select
              name="luz-niebla-trasero"
              id="luz-niebla-trasero"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="limpias-parabrisas-trasero" class="form-label"
              >limpias parabrisas trasero</label
            ><select
              name="limpias-parabrisas-trasero"
              id="limpias-parabrisas-trasero"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="exterior-trasera-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="exterior-trasera-valoracion"
              name="exterior-trasera-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>lateral derecho</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="estado-carroceria-derecho" class="form-label"
              >estado carroceria</label
            ><select
              name="estado-carroceria-derecho"
              id="estado-carroceria-derecho"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="retrovisor-derecho" class="form-label"
              >retrovisor derecho</label
            ><select
              name="retrovisor-derecho"
              id="retrovisor-derecho"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="intermitentes-derechos" class="form-label"
              >intermitentes derechos</label
            ><select
              name="intermitentes-derechos"
              id="intermitentes-derechos"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="lateral-derecho-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="lateral-derecho-valoracion"
              name="lateral-derecho-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>lateral izquierdo</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="estado-carroceria-izquierdo" class="form-label"
              >estado carroceria</label
            ><select
              name="estado-carroceria-izquierdo"
              id="estado-carroceria-izquierdo"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="retrovisor-izq" class="form-label">retrovisor izq</label
            ><select
              name="retrovisor-izq"
              id="retrovisor-izq"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="intermitente-izq" class="form-label"
              >intermitente izq</label
            ><select
              name="intermitente-izq"
              id="intermitente-izq"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="lateral-izquierdo-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="lateral-izquierdo-valoracion"
              name="lateral-izquierdo-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>vano motor</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="estado-visual" class="form-label">estado visual</label
            ><select
              name="estado-visual"
              id="estado-visual"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="nivel-liquido-limpiaparabrisas" class="form-label"
              >nivel liquido limpiaparabrisas</label
            ><select
              name="nivel-liquido-limpiaparabrisas"
              id="nivel-liquido-limpiaparabrisas"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-plasticos-protectores" class="form-label"
              >estado plásticos/protectores</label
            ><select
              name="estado-plasticos-protectores"
              id="estado-plasticos-protectores"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="nivel-liquido-anticongelante" class="form-label"
              >nivel liquido anticongelante</label
            ><select
              name="nivel-liquido-anticongelante"
              id="nivel-liquido-anticongelante"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-soportes-de-motor" class="form-label"
              >estado soportes de motor</label
            ><select
              name="estado-soportes-de-motor"
              id="estado-soportes-de-motor"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="vano-motor-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="vano-motor-valoracion"
              name="vano-motor-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>MOTOR</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="nivel-aceite" class="form-label">nivel aceite</label
            ><select name="nivel-aceite" id="nivel-aceite" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="sistemas-electricos" class="form-label"
              >sistemas eléctricos</label
            ><select
              name="sistemas-electricos"
              id="sistemas-electricos"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="sistema-correa-auxiliar" class="form-label"
              >sistema correa auxiliar</label
            ><select
              name="sistema-correa-auxiliar"
              id="sistema-correa-auxiliar"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="sistema-de-distribucion" class="form-label"
              >sistema de distribución</label
            ><select
              name="sistema-de-distribucion"
              id="sistema-de-distribucion"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="sistema-escape" class="form-label">sistema escape</label
            ><select
              name="sistema-escape"
              id="sistema-escape"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="perdidas-de-aceite-motor" class="form-label"
              >pérdidas de aceite</label
            ><select
              name="perdidas-de-aceite-motor"
              id="perdidas-de-aceite-motor"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="perdidas-refrigerante" class="form-label"
              >pérdidas refrigerante</label
            ><select
              name="perdidas-refrigerante"
              id="perdidas-refrigerante"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="perdidas-combustible" class="form-label"
              >pérdidas combustible</label
            ><select
              name="perdidas-combustible"
              id="perdidas-combustible"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="perdidas-adblue" class="form-label"
              >pérdidas adblue</label
            ><select
              name="perdidas-adblue"
              id="perdidas-adblue"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="ralenti-correcto" class="form-label"
              >ralentí correcto</label
            ><select
              name="ralenti-correcto"
              id="ralenti-correcto"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="ruidos-de-motor" class="form-label"
              >ruidos de motor</label
            ><select
              name="ruidos-de-motor"
              id="ruidos-de-motor"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="vibraciones" class="form-label">vibraciones</label
            ><select name="vibraciones" id="vibraciones" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="humos" class="form-label">humos</label
            ><select name="humos" id="humos" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="motor-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="motor-valoracion"
              name="motor-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>CIRCUITO REFRIGERACION</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="temperatura-del-motor" class="form-label"
              >temperatura del motor</label
            ><select
              name="temperatura-del-motor"
              id="temperatura-del-motor"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="nivel-y-estado-refrigerante" class="form-label"
              >nivel y estado refrigerante</label
            ><select
              name="nivel-y-estado-refrigerante"
              id="nivel-y-estado-refrigerante"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-de-radiadores" class="form-label"
              >estado de radiadores</label
            ><select
              name="estado-de-radiadores"
              id="estado-de-radiadores"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-electroventiladores" class="form-label"
              >estado electroventiladores</label
            ><select
              name="estado-electroventiladores"
              id="estado-electroventiladores"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="circuito-refrigeracion-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="circuito-refrigeracion-valoracion"
              name="circuito-refrigeracion-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>SISTEMA EMBRAGUE</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label
              for="funcionamiento-embrague-sistema-hidraulico"
              class="form-label"
              >funcionamiento embrague sistema hidráulico</label
            ><select
              name="funcionamiento-embrague-sistema-hidraulico"
              id="funcionamiento-embrague-sistema-hidraulico"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="sistema-embrague-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="sistema-embrague-valoracion"
              name="sistema-embrague-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>SISTEMA CAMBIO DE MARCHAS</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="funcionamiento-sistema-manual" class="form-label"
              >funcionamiento sistema manual</label
            ><select
              name="funcionamiento-sistema-manual"
              id="funcionamiento-sistema-manual"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="funcionamiento-sistema-automatico" class="form-label"
              >funcionamiento sistema automático</label
            ><select
              name="funcionamiento-sistema-automatico"
              id="funcionamiento-sistema-automatico"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="sistema-palanquearia" class="form-label"
              >sistema palanquearía</label
            ><select
              name="sistema-palanquearia"
              id="sistema-palanquearia"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="cambio-marchas-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="cambio-marchas-valoracion"
              name="cambio-marchas-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>AMORTIGUADORES</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="estado-amortiguador-d-derecho" class="form-label"
              >estado amortiguador d/derecho</label
            ><select
              name="estado-amortiguador-d-derecho"
              id="estado-amortiguador-d-derecho"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-amortiguador-d-izq" class="form-label"
              >estado amortiguador d/izq</label
            ><select
              name="estado-amortiguador-d-izq"
              id="estado-amortiguador-d-izq"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-amortiguador-tra-derecho" class="form-label"
              >estado amortiguador tra/derecho</label
            ><select
              name="estado-amortiguador-tra-derecho"
              id="estado-amortiguador-tra-derecho"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-amortiguador-tra-izq" class="form-label"
              >estado amortiguador tra/izq</label
            ><select
              name="estado-amortiguador-tra-izq"
              id="estado-amortiguador-tra-izq"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="amortiguadores-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="amortiguadores-valoracion"
              name="amortiguadores-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>FRENOS</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="discos-delanteros" class="form-label"
              >discos delanteros</label
            ><select
              name="discos-delanteros"
              id="discos-delanteros"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="discos-traseros" class="form-label"
              >discos traseros</label
            ><select
              name="discos-traseros"
              id="discos-traseros"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="pastillas-delanteras" class="form-label"
              >pastillas delanteras</label
            ><select
              name="pastillas-delanteras"
              id="pastillas-delanteras"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="pastillas-traseras" class="form-label"
              >pastillas traseras</label
            ><select
              name="pastillas-traseras"
              id="pastillas-traseras"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="nivel-liquido-de-freno" class="form-label"
              >nivel liquido de freno</label
            ><select
              name="nivel-liquido-de-freno"
              id="nivel-liquido-de-freno"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="perdidas-de-liquido-de-freno" class="form-label"
              >perdidas de liquido de freno</label
            ><select
              name="perdidas-de-liquido-de-freno"
              id="perdidas-de-liquido-de-freno"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-freno-de-mano" class="form-label"
              >estado freno de mano</label
            ><select
              name="estado-freno-de-mano"
              id="estado-freno-de-mano"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="frenos-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="frenos-valoracion"
              name="frenos-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>DIRECCIÓN</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="funcionamiento-direccion" class="form-label"
              >funcionamiento dirección</label
            ><select
              name="funcionamiento-direccion"
              id="funcionamiento-direccion"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="perdidas-de-aceite-direccion" class="form-label"
              >pérdidas de aceite</label
            ><select
              name="perdidas-de-aceite-direccion"
              id="perdidas-de-aceite-direccion"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="vibraciones-en-la-direccion" class="form-label"
              >vibraciones en la dirección</label
            ><select
              name="vibraciones-en-la-direccion"
              id="vibraciones-en-la-direccion"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="direccion-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="direccion-valoracion"
              name="direccion-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>NEUMÁTICOS</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="estado-llanta-delantera-derecha" class="form-label"
              >estado llanta delantera derecha</label
            ><select
              name="estado-llanta-delantera-derecha"
              id="estado-llanta-delantera-derecha"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-llanta-delantera-izquierda" class="form-label"
              >estado llanta delantera izquierda</label
            ><select
              name="estado-llanta-delantera-izquierda"
              id="estado-llanta-delantera-izquierda"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-llanta-trasera-derecha" class="form-label"
              >estado llanta trasera derecha</label
            ><select
              name="estado-llanta-trasera-derecha"
              id="estado-llanta-trasera-derecha"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-llanta-trasera-izquierda" class="form-label"
              >estado llanta trasera izquierda</label
            ><select
              name="estado-llanta-trasera-izquierda"
              id="estado-llanta-trasera-izquierda"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="comprobacion-presiones-neumaticos" class="form-label"
              >comprobación presiones neumáticos</label
            ><select
              name="comprobacion-presiones-neumaticos"
              id="comprobacion-presiones-neumaticos"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="neumaticos-pinchados" class="form-label"
              >neumáticos pinchados</label
            ><select
              name="neumaticos-pinchados"
              id="neumaticos-pinchados"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-neumaticos-traseros" class="form-label"
              >estado neumaticos traseros</label
            ><select
              name="estado-neumaticos-traseros"
              id="estado-neumaticos-traseros"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="estado-neumaticos-delanteros" class="form-label"
              >estado neumaticos delanteros</label
            ><select
              name="estado-neumaticos-delanteros"
              id="estado-neumaticos-delanteros"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="neumaticos-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="neumaticos-valoracion"
              name="neumaticos-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>ESTADO LUNAS/VIDRIOS</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="luna-delantera" class="form-label">luna delantera</label
            ><select
              name="luna-delantera"
              id="luna-delantera"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="luna-trasera" class="form-label">luna trasera</label
            ><select name="luna-trasera" id="luna-trasera" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="vidrio-delantero-derecho" class="form-label"
              >vidrio delantero derecho</label
            ><select
              name="vidrio-delantero-derecho"
              id="vidrio-delantero-derecho"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="vidrio-delantero-izq" class="form-label"
              >vidrio delantero izq</label
            ><select
              name="vidrio-delantero-izq"
              id="vidrio-delantero-izq"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="vidrio-trasero-derecho" class="form-label"
              >vidrio trasero derecho</label
            ><select
              name="vidrio-trasero-derecho"
              id="vidrio-trasero-derecho"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="vidrio-trasero-izq" class="form-label"
              >vidrio trasero izq</label
            ><select
              name="vidrio-trasero-izq"
              id="vidrio-trasero-izq"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="vidrio-custodia-delantera-derecha" class="form-label"
              >vidrio custodia delantera derecha</label
            ><select
              name="vidrio-custodia-delantera-derecha"
              id="vidrio-custodia-delantera-derecha"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="vidrio-custodia-delantero-izq" class="form-label"
              >vidrio custodia delantero izq</label
            ><select
              name="vidrio-custodia-delantero-izq"
              id="vidrio-custodia-delantero-izq"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="ND">ND</option>
              <option value="OK">OK</option>
              <option value="X">×</option>
            </select>
          </div>

          <div class="col-12">
            <label for="luna-vidrios-valoracion" class="form-label"
              >Valoración general</label
            >
            <textarea
              class="form-control"
              id="luna-vidrios-valoracion"
              name="luna-vidrios-valoracion"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <h3>Documentación</h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="pasar-itv" class="form-label"
              >el v.h necesita pasar ITV?</label
            ><select name="pasar-itv" id="pasar-itv" class="form-control">
              <option class="empty-option" selected value></option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="documentacion-original-itv" class="form-label"
              >el v.h tiene la documentación original necesaria para la ITV? </label
            ><select
              name="documentacion-original-itv"
              id="documentacion-original-itv"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="libro-de-mantenimiento-instrucciones" class="form-label"
              >el v.h tiene los libros de mantenimiento e instrucciones? </label
            ><select
              name="libro-de-mantenimiento-instrucciones"
              id="libro-de-mantenimiento-instrucciones"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="permiso-de-circulacion" class="form-label"
              >el v.h tiene permiso de circulación? </label
            ><select
              name="permiso-de-circulacion"
              id="permiso-de-circulacion"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="ficha-tecnica" class="form-label"
              >el v.h tiene ficha técnica?</label
            ><select
              name="ficha-tecnica"
              id="ficha-tecnica"
              class="form-control"
            >
              <option class="empty-option" selected value></option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>

          <div class="col-12">
            <h3>Datos del Perito</h3>
          </div>

          <div class="col-md-6 col-lg-4">
            <label for="nombre-perito" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre-perito"
              name="nombre-perito"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="lugar-perito" class="form-label">Lugar</label>
            <input
              type="text"
              class="form-control"
              id="lugar-perito"
              name="lugar-perito"
            />
          </div>
          <div class="col-md-6 col-lg-4">
            <label for="fecha-perito" class="form-label">Fecha</label>
            <input
              type="text"
              class="form-control"
              id="fecha-perito"
              name="fecha-perito"
            />
          </div>
          <div class="col-12">
            <label for="valoracion-perito" class="form-label"
              >Valoración personal</label
            >
            <textarea
              class="form-control"
              id="valoracion-perito"
              name="valoracion-perito"
              rows="8"
            ></textarea>
          </div>

          <div class="col-12">
            <label for="firma" class="form-label">Firma</label>
            <input type="hidden" id="firma-input" name="firma" />
            <br />
            <canvas id="firma"></canvas>
            <br />
            <button type="button" id="borrar-firma" class="btn btn-dark">
              Borrar Firma
            </button>
          </div>

          <div class="col-12">
            <h3>Archivos</h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <input
              class="form-control"
              type="file"
              id="archivos"
              name="archivos"
              multiple
            />
          </div>

          <div
            class="col-12 pt-5 pb-4 pb-md-5 mt-md-5 d-flex justify-content-center"
          >
            <button type="submit" class="btn btn-primary btn-lg" id="generar">
              Generar PDF
            </button>
          </div>
        </form>
      </div>
    </section>

    <script>
      // window.scrollTo(0, document.body.scrollHeight)
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>

    <script>
      const canvas = document.getElementById("firma")
      const signaturePad = new SignaturePad(canvas)

      document.getElementById("borrar-firma").addEventListener("click", () => {
        signaturePad.clear()
      })

      function resizeCanvas() {
        const ratio = Math.max(window.devicePixelRatio || 1, 1)

        canvas.width = canvas.offsetWidth * ratio
        canvas.height = canvas.offsetHeight * ratio
        canvas.getContext("2d").scale(ratio, ratio)

        signaturePad.fromData(signaturePad.toData())
      }
      addEventListener("resize", resizeCanvas)
      resizeCanvas()

      document.getElementById("generar").addEventListener("click", (e) => {
        e.preventDefault()
        document.getElementById("firma-input").value =
          signaturePad.toDataURL("image/svg+xml")
        document.getElementById("form-principal").submit()
      })
    </script>
  </body>
</html>
