<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <meta name="robots" content="noindex">

  <style>
    body {
      background-color: #fff;
    }
     img {
      width: 100%;
    }
  </style>
</head>
<body>
  <h4><strong>Nombre del perito:</strong> <%= data['nombre-perito'] %></h4>
  <img src="http://localhost:3000/images/logo.png" alt="">
  <%- data['firma'] %>
</body>
</html>