<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <style>
    .pdf-wrapper {
      background-color: #fff;
      padding: 1em;
    }
  </style>
</head>
<body>
  <%- include('../partials/navbar', {isAdmin: data['isAdmin']}) %>
  <section>
    <div class="container-xl">
      <div class="row">
        <div class="col-12">
          <h3>Previsualización</h3>
        </div> 
        <div class="col-12">
          <div class="pdf-wrapper">
            <div id="pdf">
              <h4><strong>Nombre del perito:</strong> <%= data['nombre-perito'] %></h4>
              <a href="http://localhost:3000/">localhost</a>
              <img src="https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/2020-Chevrolet-Corvette-Stingray/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=960" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>